header {
    background-image: url('../img/pattern.png');
    background-size: auto 150px;
    background-repeat: repeat-x;
    background-color: rgb(77, 160, 254);
    height: 100px;
    position:relative;
}

header img {
    width: 250px;
    position: absolute;
    bottom:10px;
    left:0;
    
}

.titolo {
    font-size:70px;
    
}
.underheader {
    font-size: 30px;
}
span {
    
    color: rgba(0,0,0, 0.5);
}
strong {
    
    color:rgb(32, 167, 221);
}

#data {
    font-size: 20px;
}

menu {
    
    padding: 0;
}
menu div {
    width: max-content;
}
td {
    width: 1200px;
    background-color: rgb(25, 122, 122);
    

}
th {
    background-color: rgb(77, 160, 254);
    color: white;
}






