body {
    margin:0;
}
header {
    
    background-image: url('../img/pattern.png');
    background-size: auto 150px;
    background-repeat: repeat-x;
    background-color: rgb(77, 160, 254);
    height: 100px;
    position:relative;
}

header img {
    width: 250px;
    position: absolute;
    bottom:10px;
    left:0;
    
}

.titolo {
    font-size:70px;
    
}
.underheader {
    font-size: 30px;
}
span {
    
    color: rgba(0,0,0, 0.5);
}
strong {
    
    color:rgb(32, 167, 221);
}

#data {
    font-size: 20px;
}

menu,
.titolo,
.underheader{
    
    padding: 0 32px;
}
menu div {
    width: 100%;
}

    


th {
    text-align: left;
    background-color: rgb(77, 189, 254);
    color: white;
    white-space: nowrap;
}

.dark {
    background-color:rgba(56, 217, 245, 0.5);

}
table {
    border-collapse:collapse;
    width: 100%;
    font-weight: bold;
}

section {
    margin-top: 100px;
}
.yellow {
    background-color: yellow;
}

.w-25 {
    width: 25%;
}
.w-50 {
    width: 50%;
}
